<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verify</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   
</head>
<body>
   <div class="row text-center ">
    <h1 class="m-5 text-primary ">Your Email is Verified</h1>

    <div><button class="btn btn-danger m-3"><a class="text-light text-decoration-none " href="/">Please Login Your Account</a></button></div>
   </div>
</body>
</html>